.intro {
  position: fixed;
  inset: 0;
  z-index: 50;
  overflow: hidden;
  height: 100svh;
}

.intro-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  will-change: transform;
}

.intro-image-2 {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(0.01);
  opacity: 0;
  will-change: transform, opacity;
}

@media (min-width: 769px) and (max-width: 1280px) {
  .intro-image-2 {
    opacity: 0.01;
    transform: scale(0.1);
  }
}